.container {
  display: flex;
  justify-content: center;
}
body {
  background-color: #F4F2DE;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
}
h2 {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7C9D96;
  margin-top: 90px;
}
.descr {
  font-size: 18px;
  font-weight: 500;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #E9B384;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #7C9D96;
  align-self: center;
}
button {
  border: none;
  font-size: 18px;
  color: #0071c2;
  background: white;
}
img {
  border: 2px solid #E9B384;
}
